{{#each deals}}
<div class="grid-cell">
    <a href="/deals/{{url}}" class="view-product" data-ajax="false"><div class="grid-image">
        <div class="btm-grad"></div>
        <div class="savings">
            <span class="save">Save</span>
            <span class="percent">{{savings}}%</span>
        </div>
        <img src="{{image}}" alt="{{name}}" />
        <span class="category">{{category}}</span>
    </div>
    <div class="grid-desc">
        <div>
            <span class="price"> ${{price}}</span>
            <span class="retail">${{retail}}</span>
        </div>
        <div class="grid-title">
            {{name}}
        </div>
        <!--<div>-->
            <!--<button data-role="button" data-mini="true" data-icon="search" class="nmr-green">View Deal</button>-->
            <!--<button data-rel="page" data-role="button" data-inline="true" data-mini="true" data-icon="minus" data-iconpos="right" data-item-id="{{deal_id}}" class="remove-item">View Deal</button>-->
        <!--</div>-->
    </div></a>
</div>
{{/each}}